In [ ]:
import pandas as pd
import matplotlib as plt 

df = pd.DataFrame({'Nome':['João', 'Maria', 'Pedro','Ana'],
                  'Idade':[20,22,21,23],
                  'Nota':[8.5,7.8,9.2,8.0],
                  })
df

In [ ]:
df.dtypes

In [ ]:
df["Nota"].mean()

In [ ]:
df[(df["Nota"]>8.375)]

In [ ]:
df.sort_values(by="Nota", ascending=False)

In [ ]:
df.to_csv("Alunos.csv")

In [ ]:
df.to_excel("Alunos1.xlsx")

In [ ]:
df.plot.bar()

Resolução / outra forma de resolução by professor:

In [7]:
import pandas as pd
import matplotlib as plt 

df = pd.DataFrame({'Nome':['João', 'Maria', 'Pedro','Ana'],
                  'Idade':[20,22,21,23],
                  'Nota':[8.5,7.8,9.2,8.0],
                  })
df

    Nome  Idade  Nota
0   João     20   8.5
1  Maria     22   7.8
2  Pedro     21   9.2
3    Ana     23   8.0

In [11]:
df.dtypes

Nome      object
Idade      int64
Nota     float64
dtype: object

In [12]:
media_notas = df['Nota'].mean()
print("Média das notas dos alunos,", media_notas)

Média das notas dos alunos, 8.375

In [14]:
alunos_acima_media = df[df['Nota']>media_notas]
print("Alunos com notas acima da média:")
print(alunos_acima_media)

Alunos com notas acima da média:
    Nome  Idade  Nota
0   João     20   8.5
2  Pedro     21   9.2

In [17]:
df_ordenado = df.sort_values(by='Nota', ascending=False)
print("alunos ordenados (por ordem decrescente):")
df_ordenado

alunos ordenados (por ordem decrescente):

    Nome  Idade  Nota
2  Pedro     21   9.2
0   João     20   8.5
3    Ana     23   8.0
1  Maria     22   7.8

In [19]:
df.to_csv("exercicio_corrigido.csv", index=False)